.items{
    list-style: decimal;
    text-transform: capitalize;
    font-weight: 600;
}
@media (max-width: 575.98px) {
    body{
        background: tomato !important;
    }
    main{
        width: 95%;
        margin: 0 auto;
    }
    .navbar{
        display: block !important;
        text-align: center;
    }
    #resultDiv{
        display: none;
        transition: all 5s;
    }
    .result-container{
        width: 95% !important;
        top: 5% !important;
    }
}